.promo {
    background-color: #FABF26;
}

.serverimg {
    width: 400px;
}

.features {
    background-color: rgba(86,98,140,0.19);
    border-radius: 8px;
}

.myCard2 {
    background: rgba(86,98,140,0.19);
    border-radius: 11px;
}

.myButton {
    padding: 1.5rem 2rem;
}

@media only screen and (max-width: 617px) {
    .plans {
        justify-content: center !important;
    }
}